body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: antiquewhite;
}

a {
  color: #00B7FF;
}

.message-container {
  height: 300px;
}

.__bar-is-vertical {
  background: rgb(112, 125, 121) !important;
}